openapi: 3.2.0
info:
  title: DAMS Item API
  version: 1.0.0
  description: This is the Swagger documentation for DAMS.
  license:
    name: Licensed Under MIT
    url: https://spdx.org/licenses/MIT.html
  contact:
    name: Online Strategy - UC Davis Library
    url: https://library.ucdavis.edu/online-strategy/
  x-operator: institution
  x-operator-note: Operated by UC Davis Library Online Strategy on digital.ucdavis.edu (CNAME next.dams.library.ucdavis.edu).
  x-provenance:
    generated: '2026-08-19'
    method: searched
    source: https://digital.ucdavis.edu/api/
servers:
- url: https://digital.ucdavis.edu
  description: UC Davis Library Digital Collections (DAMS / fin platform)
tags:
- name: item
paths:
  /api/item/{itemId}:
    get:
      tags:
      - item
      summary: Get item information by id
      description: Get item information by id
      parameters:
      - name: itemId
        in: path
        description: ID of item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@graph':
                    type: array
                    items:
                      type: object
                      properties:
                        fileFormatSimple:
                          type: string
                        filename:
                          type: string
                        fileSize:
                          type: integer
                        '@type':
                          type: array
                          items:
                            type: string
                        clientMedia:
                          type: object
                          properties:
                            images:
                              type: object
                              properties:
                                small:
                                  type: object
                                  properties:
                                    size:
                                      type: object
                                      properties:
                                        width:
                                          type: string
                                        height:
                                          type: string
                                    url:
                                      type: string
                        '@id':
                          type: string
                        lastModified:
                          type: string
                          format: date-time
                        fileFormat:
                          type: string
                        identifier:
                          type: array
                          items:
                            type: string
                        image:
                          type: object
                          properties:
                            '@id':
                              type: string
                        license:
                          type: object
                          properties:
                            '@id':
                              type: string
                        material:
                          type: string
                        subjects:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              '@id':
                                type: string
                        name:
                          type: string
                        publisher:
                          type: object
                          properties:
                            name:
                              type: string
                        associatedMedia:
                          type: object
                          properties:
                            '@id':
                              type: string
                        isPartOf:
                          type: array
                          items:
                            type: object
                            properties:
                              '@id':
                                type: string
                  '@id':
                    type: string
    post:
      tags:
      - item
      summary: Search for items by keyword
      description: Search for items by keyword
      parameters:
      - name: itemId
        in: path
        description: ID of item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                textFields:
                  type: array
                  items:
                    type: string
                limit:
                  type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: object
                    properties:
                      value:
                        type: integer
                      relation:
                        type: string
                  offset:
                    type: integer
                  limit:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        '@graph':
                          type: array
                          items:
                            type: object
                            properties:
                              identifier:
                                type: array
                                items:
                                  type: string
                              image:
                                type: object
                                properties:
                                  '@id':
                                    type: string
                              creator:
                                type: object
                                properties:
                                  name:
                                    type: string
                              '@type':
                                type: array
                                items:
                                  type: string
                              subjects:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    '@id':
                                      type: string
                              yearPublished:
                                type: integer
                              associatedMedia:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    '@id':
                                      type: string
                              isPartOf:
                                type: object
                                properties:
                                  '@id':
                                    type: string
                              datePublished:
                                type: string
                              license:
                                type: object
                                properties:
                                  '@id':
                                    type: string
                              name:
                                type: string
                              publisher:
                                type: object
                                properties:
                                  name:
                                    type: string
                              '@id':
                                type: string
                              lastModified:
                                type: string
                        '@id':
                          type: string
                        _score:
                          type: number
                  aggregations:
                    type: object
                    properties:
                      facets:
                        type: object
                        additionalProperties:
                          type: object
                          additionalProperties:
                            type: integer
                      ranges:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            min:
                              type: integer
                            max:
                              type: integer
