openapi: 3.2.0
info:
  title: PEAKS API v1 People API
  description: People Equipment Access Keys Space
  contact:
    name: Application Support
    url: https://caeshelp.ucdavis.edu/?appname=Peaks
  license:
    name: MIT
    url: https://github.com/ucdavis/Peaks/blob/master/LICENSE
  version: v1
  ProjectUrl: https://github.com/ucdavis/Peaks/
servers:
- url: https://peaks.ucdavis.edu
  description: PEAKS production API
tags:
- name: People
paths:
  /api/{teamName}/people/List:
    get:
      tags:
      - People
      summary: Get api by team name people list
      parameters:
      - name: filter
        in: query
        description: 0 = ShowActive, 1 = ShowInactive, 2 = ShowAll. Defaults to Show Active
        schema:
          $ref: '#/components/schemas/Filter'
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - AnyRole
      x-summary-source: derived
      operationId: getApiByTeamNamePeopleList
      x-operation-id-source: derived
  /api/{teamName}/people/SearchPeople:
    get:
      tags:
      - People
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Person'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - AnyRole
      summary: Get api by team name people search people
      x-summary-source: derived
      operationId: getApiByTeamNamePeopleSearchPeople
      x-operation-id-source: derived
  /api/{teamName}/people/SearchUsers:
    get:
      tags:
      - People
      parameters:
      - name: searchTerm
        in: query
        schema:
          type: string
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - AnyRole
      summary: Get api by team name people search users
      x-summary-source: derived
      operationId: getApiByTeamNamePeopleSearchUsers
      x-operation-id-source: derived
  /api/{teamName}/people/Create:
    post:
      tags:
      - People
      parameters:
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - AnyRole
      summary: Create api by team name people create
      x-summary-source: derived
      operationId: postApiByTeamNamePeopleCreate
      x-operation-id-source: derived
components:
  schemas:
    Group:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 128
          minLength: 0
          type: string
        groupPermissions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupPermission'
        teams:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupXTeam'
      additionalProperties: false
    Document:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        envelopeId:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        completedAt:
          type:
          - string
          - 'null'
          format: date-time
        accountId:
          type:
          - string
          - 'null'
        apiBasePath:
          type:
          - string
          - 'null'
      additionalProperties: false
    KeySerialAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        keySerialId:
          type: integer
          format: int32
        keySerial:
          $ref: '#/components/schemas/KeySerial'
      additionalProperties: false
    Person:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        id:
          type: integer
          format: int32
        active:
          type: boolean
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/User'
        userId:
          type:
          - string
          - 'null'
        firstName:
          maxLength: 50
          minLength: 0
          type: string
        lastName:
          maxLength: 50
          minLength: 0
          type: string
        name:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          readOnly: true
        nameV2:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          readOnly: true
        email:
          maxLength: 256
          minLength: 0
          type: string
          format: email
        tags:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        homePhone:
          type:
          - string
          - 'null'
        teamPhone:
          type:
          - string
          - 'null'
        supervisorId:
          type:
          - integer
          - 'null'
          format: int32
        supervisor:
          $ref: '#/components/schemas/Person'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        category:
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
          format: multiline
        isSupervisor:
          type: boolean
        accessAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessAssignment'
        keySerialAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeySerialAssignment'
        equipmentAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EquipmentAssignment'
        workstationAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkstationAssignment'
        documents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Document'
      additionalProperties: false
    FinancialOrganization:
      required:
      - chart
      - orgCode
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        chart:
          maxLength: 1
          minLength: 0
          type: string
        orgCode:
          maxLength: 4
          minLength: 0
          type: string
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        chartAndOrg:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    Team:
      required:
      - name
      - slug
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 128
          minLength: 0
          type: string
        slug:
          maxLength: 40
          minLength: 3
          pattern: ^([a-z0-9]+[a-z0-9\-]?)+[a-z0-9]$
          type: string
        boardingNotificationEmail:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          format: email
        people:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Person'
        teamPermissions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamPermission'
        fisOrgs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FinancialOrganization'
        ppsDepartments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamPpsDepartment'
        groups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupXTeam'
        teamApiCode:
          $ref: '#/components/schemas/TeamApiCode'
        documentAccountName:
          type:
          - string
          - 'null'
        documentAccountId:
          type:
          - string
          - 'null'
        documentApiBasePath:
          type:
          - string
          - 'null'
      additionalProperties: false
    Filter:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    TeamApiCode:
      required:
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        apiCode:
          type: string
          format: uuid
      additionalProperties: false
    Role:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 50
          minLength: 0
          type: string
        isAdmin:
          type: boolean
      additionalProperties: false
    GroupPermission:
      required:
      - group
      - user
      type: object
      properties:
        id:
          type: integer
          format: int32
        group:
          $ref: '#/components/schemas/Group'
        groupId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/User'
        userId:
          type:
          - string
          - 'null'
      additionalProperties: false
    GroupXTeam:
      required:
      - group
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        group:
          $ref: '#/components/schemas/Group'
        groupId:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
      additionalProperties: false
    WorkstationAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        workstation:
          $ref: '#/components/schemas/Workstation'
      additionalProperties: false
    Space:
      type: object
      properties:
        id:
          type: integer
          format: int32
        deptKey:
          type:
          - string
          - 'null'
        bldgKey:
          type:
          - string
          - 'null'
        roomKey:
          type:
          - string
          - 'null'
        floorKey:
          type:
          - string
          - 'null'
        bldgName:
          type:
          - string
          - 'null'
        floorName:
          type:
          - string
          - 'null'
        roomNumber:
          type:
          - string
          - 'null'
        roomName:
          type:
          - string
          - 'null'
        roomCategoryName:
          type:
          - string
          - 'null'
        roomCategoryCode:
          type:
          - string
          - 'null'
        chartNum:
          type:
          - string
          - 'null'
        orgId:
          type:
          - string
          - 'null'
        deptName:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
        active:
          type: boolean
        sqFt:
          type:
          - integer
          - 'null'
          format: int32
        shortName:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    Workstation:
      required:
      - name
      - space
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type:
          - string
          - 'null'
        space:
          $ref: '#/components/schemas/Space'
        spaceId:
          type: integer
          format: int32
        assignment:
          $ref: '#/components/schemas/WorkstationAssignment'
        workstationAssignmentId:
          type:
          - integer
          - 'null'
          format: int32
        attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkstationAttribute'
      additionalProperties: false
    Equipment:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type:
          - string
          - 'null'
        serialNumber:
          type:
          - string
          - 'null'
        make:
          type:
          - string
          - 'null'
        model:
          type:
          - string
          - 'null'
        protectionLevel:
          maxLength: 2
          minLength: 0
          type:
          - string
          - 'null'
        availabilityLevel:
          maxLength: 2
          minLength: 0
          type:
          - string
          - 'null'
        systemManagementId:
          maxLength: 16
          minLength: 0
          type:
          - string
          - 'null'
        space:
          $ref: '#/components/schemas/Space'
        spaceId:
          type:
          - integer
          - 'null'
          format: int32
        assignment:
          $ref: '#/components/schemas/EquipmentAssignment'
        equipmentAssignmentId:
          type:
          - integer
          - 'null'
          format: int32
        attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EquipmentAttribute'
      additionalProperties: false
    EquipmentAttribute:
      type: object
      properties:
        id:
          type: integer
          format: int32
        equipment:
          $ref: '#/components/schemas/Equipment'
        equipmentId:
          type: integer
          format: int32
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Access:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        assignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessAssignment'
      additionalProperties: false
    Key:
      required:
      - code
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        code:
          maxLength: 64
          minLength: 0
          type: string
        keyXSpaces:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeyXSpace'
        serials:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeySerial'
        title:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    User:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        iam:
          type:
          - string
          - 'null'
        firstName:
          maxLength: 50
          minLength: 0
          type: string
        lastName:
          maxLength: 50
          minLength: 0
          type: string
        name:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          readOnly: true
        email:
          maxLength: 256
          minLength: 0
          type: string
          format: email
        pronouns:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        people:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Person'
        teamPermissions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamPermission'
      additionalProperties: false
    KeySerial:
      required:
      - name
      - number
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        number:
          maxLength: 64
          minLength: 0
          type: string
        status:
          type:
          - string
          - 'null'
        key:
          $ref: '#/components/schemas/Key'
        keyId:
          type: integer
          format: int32
        keySerialAssignment:
          $ref: '#/components/schemas/KeySerialAssignment'
        keySerialAssignmentId:
          type:
          - integer
          - 'null'
          format: int32
        title:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    WorkstationAttribute:
      type: object
      properties:
        id:
          type: integer
          format: int32
        workstation:
          $ref: '#/components/schemas/Workstation'
        workstationId:
          type: integer
          format: int32
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    KeyXSpace:
      required:
      - key
      - space
      type: object
      properties:
        id:
          type: integer
          format: int32
        key:
          $ref: '#/components/schemas/Key'
        keyId:
          type: integer
          format: int32
        space:
          $ref: '#/components/schemas/Space'
        spaceId:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    AccessAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        accessId:
          type: integer
          format: int32
        access:
          $ref: '#/components/schemas/Access'
      additionalProperties: false
    TeamPpsDepartment:
      required:
      - ppsDepartmentCode
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        ppsDepartmentCode:
          maxLength: 6
          minLength: 0
          type: string
        departmentName:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
      additionalProperties: false
    TeamPermission:
      required:
      - role
      - team
      - user
      type: object
      properties:
        id:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/User'
        userId:
          type:
          - string
          - 'null'
        role:
          $ref: '#/components/schemas/Role'
        roleId:
          type: integer
          format: int32
      additionalProperties: false
    EquipmentAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        equipment:
          $ref: '#/components/schemas/Equipment'
      additionalProperties: false
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-Auth-Token
      in: header
