openapi: 3.2.0
info:
  title: PEAKS API v1 Equipment API
  description: People Equipment Access Keys Space
  contact:
    name: Application Support
    url: https://caeshelp.ucdavis.edu/?appname=Peaks
  license:
    name: MIT
    url: https://github.com/ucdavis/Peaks/blob/master/LICENSE
  version: v1
  ProjectUrl: https://github.com/ucdavis/Peaks/
servers:
- url: https://peaks.ucdavis.edu
  description: PEAKS production API
tags:
- name: Equipment
paths:
  /api/{teamName}/equipment/Search:
    get:
      tags:
      - Equipment
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment search
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentSearch
      x-operation-id-source: derived
  /api/{teamName}/equipment/SearchAttributes:
    get:
      tags:
      - Equipment
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment search attributes
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentSearchAttributes
      x-operation-id-source: derived
  /api/{teamName}/equipment/GetEquipmentInSpace:
    get:
      tags:
      - Equipment
      parameters:
      - name: spaceId
        in: query
        schema:
          type: integer
          format: int32
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment get equipment in space
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentGetEquipmentInSpace
      x-operation-id-source: derived
  /api/{teamName}/equipment/CommonAttributeKeys:
    get:
      tags:
      - Equipment
      parameters:
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquipmentAttributeKey'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment common attribute keys
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentCommonAttributeKeys
      x-operation-id-source: derived
  /api/{teamName}/equipment/ListEquipmentTypes:
    get:
      tags:
      - Equipment
      parameters:
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Type'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment list equipment types
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentListEquipmentTypes
      x-operation-id-source: derived
  /api/{teamName}/equipment/ListAssigned:
    get:
      tags:
      - Equipment
      parameters:
      - name: personId
        in: query
        schema:
          type: integer
          format: int32
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment list assigned
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentListAssigned
      x-operation-id-source: derived
  /api/{teamName}/equipment/List:
    get:
      tags:
      - Equipment
      summary: List all equipments for a team
      parameters:
      - name: filter
        in: query
        description: 0 = ShowActive, 1 = ShowInactive, 2 = ShowAll. Defaults to Show Active
        schema:
          $ref: '#/components/schemas/Filter'
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      operationId: getApiByTeamNameEquipmentList
      x-operation-id-source: derived
  /api/{teamName}/equipment/Details/{id}:
    get:
      tags:
      - Equipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: showDeleted
        in: query
        schema:
          type: boolean
          default: false
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment details by id
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentDetailsById
      x-operation-id-source: derived
  /api/{teamName}/equipment/Create:
    post:
      tags:
      - Equipment
      parameters:
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Equipment'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Create api by team name equipment create
      x-summary-source: derived
      operationId: postApiByTeamNameEquipmentCreate
      x-operation-id-source: derived
  /api/{teamName}/equipment/Duplicate:
    post:
      tags:
      - Equipment
      parameters:
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Equipment'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Create api by team name equipment duplicate
      x-summary-source: derived
      operationId: postApiByTeamNameEquipmentDuplicate
      x-operation-id-source: derived
  /api/{teamName}/equipment/Assign:
    post:
      tags:
      - Equipment
      parameters:
      - name: equipmentId
        in: query
        schema:
          type: integer
          format: int32
      - name: personId
        in: query
        schema:
          type: integer
          format: int32
      - name: date
        in: query
        schema:
          type: string
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Create api by team name equipment assign
      x-summary-source: derived
      operationId: postApiByTeamNameEquipmentAssign
      x-operation-id-source: derived
  /api/{teamName}/equipment/Update:
    post:
      tags:
      - Equipment
      parameters:
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Equipment'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Create api by team name equipment update
      x-summary-source: derived
      operationId: postApiByTeamNameEquipmentUpdate
      x-operation-id-source: derived
  /api/{teamName}/equipment/Revoke/{id}:
    post:
      tags:
      - Equipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Create api by team name equipment revoke by id
      x-summary-source: derived
      operationId: postApiByTeamNameEquipmentRevokeById
      x-operation-id-source: derived
  /api/{teamName}/equipment/Delete/{id}:
    post:
      tags:
      - Equipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Create api by team name equipment delete by id
      x-summary-source: derived
      operationId: postApiByTeamNameEquipmentDeleteById
      x-operation-id-source: derived
  /api/{teamName}/equipment/GetHistory/{id}:
    get:
      tags:
      - Equipment
      summary: Takes the top 5 history records
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: max
        in: query
        description: Defaults to 5
        schema:
          type: integer
          format: int32
          default: 5
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/History'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      operationId: getApiByTeamNameEquipmentGetHistoryById
      x-operation-id-source: derived
  /api/{teamName}/equipment/GetComputer/{id}:
    get:
      tags:
      - Equipment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceNowPropertyWrapper'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment get computer by id
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentGetComputerById
      x-operation-id-source: derived
  /api/{teamName}/equipment/GetComputersBySearch:
    get:
      tags:
      - Equipment
      parameters:
      - name: value
        in: query
        schema:
          type: string
      - name: teamName
        in: path
        required: true
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: access token
        required: true
        schema:
          type: string
          default: ApiKey
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceNowPropertyWrapper'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - ApiKey:
        - EquipMasterAccess
      summary: Get api by team name equipment get computers by search
      x-summary-source: derived
      operationId: getApiByTeamNameEquipmentGetComputersBySearch
      x-operation-id-source: derived
components:
  schemas:
    CallingConventions:
      enum:
      - 1
      - 2
      - 3
      - 32
      - 64
      type: integer
      format: int32
    ConstructorInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        reflectedType:
          $ref: '#/components/schemas/Type'
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        attributes:
          $ref: '#/components/schemas/MethodAttributes'
        methodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        callingConvention:
          $ref: '#/components/schemas/CallingConventions'
        isAbstract:
          type: boolean
          readOnly: true
        isConstructor:
          type: boolean
          readOnly: true
        isFinal:
          type: boolean
          readOnly: true
        isHideBySig:
          type: boolean
          readOnly: true
        isSpecialName:
          type: boolean
          readOnly: true
        isStatic:
          type: boolean
          readOnly: true
        isVirtual:
          type: boolean
          readOnly: true
        isAssembly:
          type: boolean
          readOnly: true
        isFamily:
          type: boolean
          readOnly: true
        isFamilyAndAssembly:
          type: boolean
          readOnly: true
        isFamilyOrAssembly:
          type: boolean
          readOnly: true
        isPrivate:
          type: boolean
          readOnly: true
        isPublic:
          type: boolean
          readOnly: true
        isConstructedGenericMethod:
          type: boolean
          readOnly: true
        isGenericMethod:
          type: boolean
          readOnly: true
        isGenericMethodDefinition:
          type: boolean
          readOnly: true
        containsGenericParameters:
          type: boolean
          readOnly: true
        methodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        isSecurityCritical:
          type: boolean
          readOnly: true
        isSecuritySafeCritical:
          type: boolean
          readOnly: true
        isSecurityTransparent:
          type: boolean
          readOnly: true
        memberType:
          $ref: '#/components/schemas/MemberTypes'
      additionalProperties: false
    ModuleHandle:
      type: object
      properties:
        mdStreamVersion:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CustomAttributeData:
      type: object
      properties:
        attributeType:
          $ref: '#/components/schemas/Type'
        constructor:
          $ref: '#/components/schemas/ConstructorInfo'
        constructorArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeTypedArgument'
          readOnly: true
        namedArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeNamedArgument'
          readOnly: true
      additionalProperties: false
    ParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 4
      - 8
      - 16
      - 4096
      - 8192
      - 16384
      - 32768
      - 61440
      type: integer
      format: int32
    PropertyInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        reflectedType:
          $ref: '#/components/schemas/Type'
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        propertyType:
          $ref: '#/components/schemas/Type'
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        isSpecialName:
          type: boolean
          readOnly: true
        canRead:
          type: boolean
          readOnly: true
        canWrite:
          type: boolean
          readOnly: true
        getMethod:
          $ref: '#/components/schemas/MethodInfo'
        setMethod:
          $ref: '#/components/schemas/MethodInfo'
      additionalProperties: false
    LayoutKind:
      enum:
      - 0
      - 2
      - 3
      type: integer
      format: int32
    AccessAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        accessId:
          type: integer
          format: int32
        access:
          $ref: '#/components/schemas/Access'
      additionalProperties: false
    Group:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 128
          minLength: 0
          type: string
        groupPermissions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupPermission'
        teams:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupXTeam'
      additionalProperties: false
    ParameterInfo:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ParameterAttributes'
        member:
          $ref: '#/components/schemas/MemberInfo'
        name:
          type:
          - string
          - 'null'
          readOnly: true
        parameterType:
          $ref: '#/components/schemas/Type'
        position:
          type: integer
          format: int32
          readOnly: true
        isIn:
          type: boolean
          readOnly: true
        isLcid:
          type: boolean
          readOnly: true
        isOptional:
          type: boolean
          readOnly: true
        isOut:
          type: boolean
          readOnly: true
        isRetval:
          type: boolean
          readOnly: true
        defaultValue:
          readOnly: true
        rawDefaultValue:
          readOnly: true
        hasDefaultValue:
          type: boolean
          readOnly: true
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    EquipmentAttributeKey:
      required:
      - description
      - key
      type: object
      properties:
        id:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type:
          - integer
          - 'null'
          format: int32
        key:
          minLength: 1
          type: string
        description:
          maxLength: 50
          minLength: 0
          type: string
      additionalProperties: false
    MethodAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 32768
      - 53248
      type: integer
      format: int32
    EventInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        reflectedType:
          $ref: '#/components/schemas/Type'
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        attributes:
          $ref: '#/components/schemas/EventAttributes'
        isSpecialName:
          type: boolean
          readOnly: true
        addMethod:
          $ref: '#/components/schemas/MethodInfo'
        removeMethod:
          $ref: '#/components/schemas/MethodInfo'
        raiseMethod:
          $ref: '#/components/schemas/MethodInfo'
        isMulticast:
          type: boolean
          readOnly: true
        eventHandlerType:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
    TeamPpsDepartment:
      required:
      - ppsDepartmentCode
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        ppsDepartmentCode:
          maxLength: 6
          minLength: 0
          type: string
        departmentName:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
      additionalProperties: false
    RuntimeMethodHandle:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    EventAttributes:
      enum:
      - 0
      - 512
      - 1024
      type: integer
      format: int32
    Role:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 50
          minLength: 0
          type: string
        isAdmin:
          type: boolean
      additionalProperties: false
    Equipment:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type:
          - string
          - 'null'
        serialNumber:
          type:
          - string
          - 'null'
        make:
          type:
          - string
          - 'null'
        model:
          type:
          - string
          - 'null'
        protectionLevel:
          maxLength: 2
          minLength: 0
          type:
          - string
          - 'null'
        availabilityLevel:
          maxLength: 2
          minLength: 0
          type:
          - string
          - 'null'
        systemManagementId:
          maxLength: 16
          minLength: 0
          type:
          - string
          - 'null'
        space:
          $ref: '#/components/schemas/Space'
        spaceId:
          type:
          - integer
          - 'null'
          format: int32
        assignment:
          $ref: '#/components/schemas/EquipmentAssignment'
        equipmentAssignmentId:
          type:
          - integer
          - 'null'
          format: int32
        attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EquipmentAttribute'
      additionalProperties: false
    Team:
      required:
      - name
      - slug
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 128
          minLength: 0
          type: string
        slug:
          maxLength: 40
          minLength: 3
          pattern: ^([a-z0-9]+[a-z0-9\-]?)+[a-z0-9]$
          type: string
        boardingNotificationEmail:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          format: email
        people:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Person'
        teamPermissions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamPermission'
        fisOrgs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FinancialOrganization'
        ppsDepartments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamPpsDepartment'
        groups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupXTeam'
        teamApiCode:
          $ref: '#/components/schemas/TeamApiCode'
        documentAccountName:
          type:
          - string
          - 'null'
        documentAccountId:
          type:
          - string
          - 'null'
        documentApiBasePath:
          type:
          - string
          - 'null'
      additionalProperties: false
    MethodImplAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 4096
      - 65535
      type: integer
      format: int32
    Filter:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Access:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        assignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessAssignment'
      additionalProperties: false
    StructLayoutAttribute:
      type: object
      properties:
        typeId:
          readOnly: true
        value:
          $ref: '#/components/schemas/LayoutKind'
      additionalProperties: false
    History:
      required:
      - description
      type: object
      properties:
        id:
          type: integer
          format: int32
        description:
          minLength: 1
          type: string
        actor:
          $ref: '#/components/schemas/User'
        actorId:
          type:
          - string
          - 'null'
        actedDate:
          type: string
          format: date-time
        target:
          $ref: '#/components/schemas/Person'
        targetId:
          type:
          - integer
          - 'null'
          format: int32
        assetType:
          type:
          - string
          - 'null'
        actionType:
          type:
          - string
          - 'null'
        key:
          $ref: '#/components/schemas/Key'
        keyId:
          type:
          - integer
          - 'null'
          format: int32
        keySerial:
          $ref: '#/components/schemas/KeySerial'
        keySerialId:
          type:
          - integer
          - 'null'
          format: int32
        equipment:
          $ref: '#/components/schemas/Equipment'
        equipmentId:
          type:
          - integer
          - 'null'
          format: int32
        access:
          $ref: '#/components/schemas/Access'
        accessId:
          type:
          - integer
          - 'null'
          format: int32
        workstation:
          $ref: '#/components/schemas/Workstation'
        workstationId:
          type:
          - integer
          - 'null'
          format: int32
        document:
          $ref: '#/components/schemas/Document'
        documentId:
          type:
          - integer
          - 'null'
          format: int32
        link:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    TypeAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 24
      - 32
      - 128
      - 256
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 65536
      - 131072
      - 196608
      - 262144
      - 264192
      - 1048576
      - 12582912
      type: integer
      format: int32
    GroupXTeam:
      required:
      - group
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        group:
          $ref: '#/components/schemas/Group'
        groupId:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
      additionalProperties: false
    Person:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        id:
          type: integer
          format: int32
        active:
          type: boolean
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/User'
        userId:
          type:
          - string
          - 'null'
        firstName:
          maxLength: 50
          minLength: 0
          type: string
        lastName:
          maxLength: 50
          minLength: 0
          type: string
        name:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          readOnly: true
        nameV2:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          readOnly: true
        email:
          maxLength: 256
          minLength: 0
          type: string
          format: email
        tags:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        homePhone:
          type:
          - string
          - 'null'
        teamPhone:
          type:
          - string
          - 'null'
        supervisorId:
          type:
          - integer
          - 'null'
          format: int32
        supervisor:
          $ref: '#/components/schemas/Person'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        category:
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
          format: multiline
        isSupervisor:
          type: boolean
        accessAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccessAssignment'
        keySerialAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeySerialAssignment'
        equipmentAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EquipmentAssignment'
        workstationAssignments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkstationAssignment'
        documents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Document'
      additionalProperties: false
    Document:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        envelopeId:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        completedAt:
          type:
          - string
          - 'null'
          format: date-time
        accountId:
          type:
          - string
          - 'null'
        apiBasePath:
          type:
          - string
          - 'null'
      additionalProperties: false
    Type:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          readOnly: true
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        isInterface:
          type: boolean
          readOnly: true
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        namespace:
          type:
          - string
          - 'null'
          readOnly: true
        assemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        fullName:
          type:
          - string
          - 'null'
          readOnly: true
        assembly:
          $ref: '#/components/schemas/Assembly'
        module:
          $ref: '#/components/schemas/Module'
        isNested:
          type: boolean
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        declaringMethod:
          $ref: '#/components/schemas/MethodBase'
        reflectedType:
          $ref: '#/components/schemas/Type'
        underlyingSystemType:
          $ref: '#/components/schemas/Type'
        isTypeDefinition:
          type: boolean
          readOnly: true
        isArray:
          type: boolean
          readOnly: true
        isByRef:
          type: boolean
          readOnly: true
        isPointer:
          type: boolean
          readOnly: true
        isConstructedGenericType:
          type: boolean
          readOnly: true
        isGenericParameter:
          type: boolean
          readOnly: true
        isGenericTypeParameter:
          type: boolean
          readOnly: true
        isGenericMethodParameter:
          type: boolean
          readOnly: true
        isGenericType:
          type: boolean
          readOnly: true
        isGenericTypeDefinition:
          type: boolean
          readOnly: true
        isSZArray:
          type: boolean
          readOnly: true
        isVariableBoundArray:
          type: boolean
          readOnly: true
        isByRefLike:
          type: boolean
          readOnly: true
        hasElementType:
          type: boolean
          readOnly: true
        genericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        genericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        genericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        attributes:
          $ref: '#/components/schemas/TypeAttributes'
        isAbstract:
          type: boolean
          readOnly: true
        isImport:
          type: boolean
          readOnly: true
        isSealed:
          type: boolean
          readOnly: true
        isSpecialName:
          type: boolean
          readOnly: true
        isClass:
          type: boolean
          readOnly: true
        isNestedAssembly:
          type: boolean
          readOnly: true
        isNestedFamANDAssem:
          type: boolean
          readOnly: true
        isNestedFamily:
          type: boolean
          readOnly: true
        isNestedFamORAssem:
          type: boolean
          readOnly: true
        isNestedPrivate:
          type: boolean
          readOnly: true
        isNestedPublic:
          type: boolean
          readOnly: true
        isNotPublic:
          type: boolean
          readOnly: true
        isPublic:
          type: boolean
          readOnly: true
        isAutoLayout:
          type: boolean
          readOnly: true
        isExplicitLayout:
          type: boolean
          readOnly: true
        isLayoutSequential:
          type: boolean
          readOnly: true
        isAnsiClass:
          type: boolean
          readOnly: true
        isAutoClass:
          type: boolean
          readOnly: true
        isUnicodeClass:
          type: boolean
          readOnly: true
        isCOMObject:
          type: boolean
          readOnly: true
        isContextful:
          type: boolean
          readOnly: true
        isEnum:
          type: boolean
          readOnly: true
        isMarshalByRef:
          type: boolean
          readOnly: true
        isPrimitive:
          type: boolean
          readOnly: true
        isValueType:
          type: boolean
          readOnly: true
        isSignatureType:
          type: boolean
          readOnly: true
        isSecurityCritical:
          type: boolean
          readOnly: true
        isSecuritySafeCritical:
          type: boolean
          readOnly: true
        isSecurityTransparent:
          type: boolean
          readOnly: true
        structLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        typeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        typeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        guid:
          type: string
          format: uuid
          readOnly: true
        baseType:
          $ref: '#/components/schemas/Type'
        isSerializable:
          type: boolean
          readOnly: true
        containsGenericParameters:
          type: boolean
          readOnly: true
        isVisible:
          type: boolean
          readOnly: true
      additionalProperties: false
    EquipmentAttribute:
      type: object
      properties:
        id:
          type: integer
          format: int32
        equipment:
          $ref: '#/components/schemas/Equipment'
        equipmentId:
          type: integer
          format: int32
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    MethodBase:
      type: object
      properties:
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        name:
          type:
          - string
          - 'null'
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        reflectedType:
          $ref: '#/components/schemas/Type'
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        attributes:
          $ref: '#/components/schemas/MethodAttributes'
        methodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        callingConvention:
          $ref: '#/components/schemas/CallingConventions'
        isAbstract:
          type: boolean
          readOnly: true
        isConstructor:
          type: boolean
          readOnly: true
        isFinal:
          type: boolean
          readOnly: true
        isHideBySig:
          type: boolean
          readOnly: true
        isSpecialName:
          type: boolean
          readOnly: true
        isStatic:
          type: boolean
          readOnly: true
        isVirtual:
          type: boolean
          readOnly: true
        isAssembly:
          type: boolean
          readOnly: true
        isFamily:
          type: boolean
          readOnly: true
        isFamilyAndAssembly:
          type: boolean
          readOnly: true
        isFamilyOrAssembly:
          type: boolean
          readOnly: true
        isPrivate:
          type: boolean
          readOnly: true
        isPublic:
          type: boolean
          readOnly: true
        isConstructedGenericMethod:
          type: boolean
          readOnly: true
        isGenericMethod:
          type: boolean
          readOnly: true
        isGenericMethodDefinition:
          type: boolean
          readOnly: true
        containsGenericParameters:
          type: boolean
          readOnly: true
        methodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        isSecurityCritical:
          type: boolean
          readOnly: true
        isSecuritySafeCritical:
          type: boolean
          readOnly: true
        isSecurityTransparent:
          type: boolean
          readOnly: true
      additionalProperties: false
    User:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        iam:
          type:
          - string
          - 'null'
        firstName:
          maxLength: 50
          minLength: 0
          type: string
        lastName:
          maxLength: 50
          minLength: 0
          type: string
        name:
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
          readOnly: true
        email:
          maxLength: 256
          minLength: 0
          type: string
          format: email
        pronouns:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        people:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Person'
        teamPermissions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamPermission'
      additionalProperties: false
    MemberInfo:
      type: object
      properties:
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        declaringType:
          $ref: '#/components/schemas/Type'
        reflectedType:
          $ref: '#/components/schemas/Type'
        name:
          type:
          - string
          - 'null'
          readOnly: true
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    ServiceNowProperties:
      type: object
      properties:
        department:
          type:
          - string
          - 'null'
        modelCategory:
          type:
          - string
          - 'null'
        deviceName:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        bigFixId:
          type:
          - string
          - 'null'
        userSysId:
          type:
          - string
          - 'null'
        serialNumber:
          type:
          - string
          - 'null'
        building:
          type:
          - string
          - 'null'
        securityClassification:
          type:
          - string
          - 'null'
        supportGroup:
          type:
          - string
          - 'null'
        userSysDomain:
          type:
          - string
          - 'null'
        userSysClassName:
          type:
          - string
          - 'null'
        deviceType:
          type:
          - string
          - 'null'
        macAddress:
          type:
          - string
          - 'null'
        userName:
          type:
          - string
          - 'null'
        installStatus:
          type:
          - string
          - 'null'
        sysId:
          type:
          - string
          - 'null'
        sysClassName:
          type:
          - string
          - 'null'
        assignedTo:
          type:
          - string
          - 'null'
        ipAddress:
          type:
          - string
          - 'null'
        quantity:
          type:
          - string
          - 'null'
        room:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        sysDomain:
          type:
          - string
          - 'null'
        model:
          type:
          - string
          - 'null'
      additionalProperties: false
    RuntimeTypeHandle:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    TypeInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          readOnly: true
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        isInterface:
          type: boolean
          readOnly: true
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        namespace:
          type:
          - string
          - 'null'
          readOnly: true
        assemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        fullName:
          type:
          - string
          - 'null'
          readOnly: true
        assembly:
          $ref: '#/components/schemas/Assembly'
        module:
          $ref: '#/components/schemas/Module'
        isNested:
          type: boolean
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        declaringMethod:
          $ref: '#/components/schemas/MethodBase'
        reflectedType:
          $ref: '#/components/schemas/Type'
        underlyingSystemType:
          $ref: '#/components/schemas/Type'
        isTypeDefinition:
          type: boolean
          readOnly: true
        isArray:
          type: boolean
          readOnly: true
        isByRef:
          type: boolean
          readOnly: true
        isPointer:
          type: boolean
          readOnly: true
        isConstructedGenericType:
          type: boolean
          readOnly: true
        isGenericParameter:
          type: boolean
          readOnly: true
        isGenericTypeParameter:
          type: boolean
          readOnly: true
        isGenericMethodParameter:
          type: boolean
          readOnly: true
        isGenericType:
          type: boolean
          readOnly: true
        isGenericTypeDefinition:
          type: boolean
          readOnly: true
        isSZArray:
          type: boolean
          readOnly: true
        isVariableBoundArray:
          type: boolean
          readOnly: true
        isByRefLike:
          type: boolean
          readOnly: true
        hasElementType:
          type: boolean
          readOnly: true
        genericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        genericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        genericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        attributes:
          $ref: '#/components/schemas/TypeAttributes'
        isAbstract:
          type: boolean
          readOnly: true
        isImport:
          type: boolean
          readOnly: true
        isSealed:
          type: boolean
          readOnly: true
        isSpecialName:
          type: boolean
          readOnly: true
        isClass:
          type: boolean
          readOnly: true
        isNestedAssembly:
          type: boolean
          readOnly: true
        isNestedFamANDAssem:
          type: boolean
          readOnly: true
        isNestedFamily:
          type: boolean
          readOnly: true
        isNestedFamORAssem:
          type: boolean
          readOnly: true
        isNestedPrivate:
          type: boolean
          readOnly: true
        isNestedPublic:
          type: boolean
          readOnly: true
        isNotPublic:
          type: boolean
          readOnly: true
        isPublic:
          type: boolean
          readOnly: true
        isAutoLayout:
          type: boolean
          readOnly: true
        isExplicitLayout:
          type: boolean
          readOnly: true
        isLayoutSequential:
          type: boolean
          readOnly: true
        isAnsiClass:
          type: boolean
          readOnly: true
        isAutoClass:
          type: boolean
          readOnly: true
        isUnicodeClass:
          type: boolean
          readOnly: true
        isCOMObject:
          type: boolean
          readOnly: true
        isContextful:
          type: boolean
          readOnly: true
        isEnum:
          type: boolean
          readOnly: true
        isMarshalByRef:
          type: boolean
          readOnly: true
        isPrimitive:
          type: boolean
          readOnly: true
        isValueType:
          type: boolean
          readOnly: true
        isSignatureType:
          type: boolean
          readOnly: true
        isSecurityCritical:
          type: boolean
          readOnly: true
        isSecuritySafeCritical:
          type: boolean
          readOnly: true
        isSecurityTransparent:
          type: boolean
          readOnly: true
        structLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        typeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        typeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        guid:
          type: string
          format: uuid
          readOnly: true
        baseType:
          $ref: '#/components/schemas/Type'
        isSerializable:
          type: boolean
          readOnly: true
        containsGenericParameters:
          type: boolean
          readOnly: true
        isVisible:
          type: boolean
          readOnly: true
        genericTypeParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        declaredConstructors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConstructorInfo'
          readOnly: true
        declaredEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventInfo'
          readOnly: true
        declaredFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInfo'
          readOnly: true
        declaredMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MemberInfo'
          readOnly: true
        declaredMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MethodInfo'
          readOnly: true
        declaredNestedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        declaredProperties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PropertyInfo'
          readOnly: true
        implementedInterfaces:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
      additionalProperties: false
    Key:
      required:
      - code
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        code:
          maxLength: 64
          minLength: 0
          type: string
        keyXSpaces:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeyXSpace'
        serials:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeySerial'
        title:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    FieldAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 4096
      - 8192
      - 32768
      - 38144
      type: integer
      format: int32
    KeySerial:
      required:
      - name
      - number
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        number:
          maxLength: 64
          minLength: 0
          type: string
        status:
          type:
          - string
          - 'null'
        key:
          $ref: '#/components/schemas/Key'
        keyId:
          type: integer
          format: int32
        keySerialAssignment:
          $ref: '#/components/schemas/KeySerialAssignment'
        keySerialAssignmentId:
          type:
          - integer
          - 'null'
          format: int32
        title:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    CustomAttributeTypedArgument:
      type: object
      properties:
        argumentType:
          $ref: '#/components/schemas/Type'
        value: {}
      additionalProperties: false
    EquipmentAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        equipment:
          $ref: '#/components/schemas/Equipment'
      additionalProperties: false
    TeamPermission:
      required:
      - role
      - team
      - user
      type: object
      properties:
        id:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/User'
        userId:
          type:
          - string
          - 'null'
        role:
          $ref: '#/components/schemas/Role'
        roleId:
          type: integer
          format: int32
      additionalProperties: false
    FieldInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        reflectedType:
          $ref: '#/components/schemas/Type'
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        attributes:
          $ref: '#/components/schemas/FieldAttributes'
        fieldType:
          $ref: '#/components/schemas/Type'
        isInitOnly:
          type: boolean
          readOnly: true
        isLiteral:
          type: boolean
          readOnly: true
        isNotSerialized:
          type: boolean
          readOnly: true
        isPinvokeImpl:
          type: boolean
          readOnly: true
        isSpecialName:
          type: boolean
          readOnly: true
        isStatic:
          type: boolean
          readOnly: true
        isAssembly:
          type: boolean
          readOnly: true
        isFamily:
          type: boolean
          readOnly: true
        isFamilyAndAssembly:
          type: boolean
          readOnly: true
        isFamilyOrAssembly:
          type: boolean
          readOnly: true
        isPrivate:
          type: boolean
          readOnly: true
        isPublic:
          type: boolean
          readOnly: true
        isSecurityCritical:
          type: boolean
          readOnly: true
        isSecuritySafeCritical:
          type: boolean
          readOnly: true
        isSecurityTransparent:
          type: boolean
          readOnly: true
        fieldHandle:
          $ref: '#/components/schemas/RuntimeFieldHandle'
      additionalProperties: false
    RuntimeFieldHandle:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    GroupPermission:
      required:
      - group
      - user
      type: object
      properties:
        id:
          type: integer
          format: int32
        group:
          $ref: '#/components/schemas/Group'
        groupId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/User'
        userId:
          type:
          - string
          - 'null'
      additionalProperties: false
    KeySerialAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        keySerialId:
          type: integer
          format: int32
        keySerial:
          $ref: '#/components/schemas/KeySerial'
      additionalProperties: false
    CustomAttributeNamedArgument:
      type: object
      properties:
        memberInfo:
          $ref: '#/components/schemas/MemberInfo'
        typedValue:
          $ref: '#/components/schemas/CustomAttributeTypedArgument'
        memberName:
          type:
          - string
          - 'null'
          readOnly: true
        isField:
          type: boolean
          readOnly: true
      additionalProperties: false
    GenericParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 28
      type: integer
      format: int32
    Module:
      type: object
      properties:
        assembly:
          $ref: '#/components/schemas/Assembly'
        fullyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type:
          - string
          - 'null'
          readOnly: true
        mdStreamVersion:
          type: integer
          format: int32
          readOnly: true
        moduleVersionId:
          type: string
          format: uuid
          readOnly: true
        scopeName:
          type:
          - string
          - 'null'
          readOnly: true
        moduleHandle:
          $ref: '#/components/schemas/ModuleHandle'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    ServiceNowPropertyWrapper:
      type: object
      properties:
        results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ServiceNowProperties'
      additionalProperties: false
    ICustomAttributeProvider:
      type: object
      additionalProperties: false
    Workstation:
      required:
      - name
      - space
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          maxLength: 64
          minLength: 0
          type: string
        notes:
          type:
          - string
          - 'null'
        tags:
          type:
          - string
          - 'null'
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        active:
          type: boolean
        title:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type:
          - string
          - 'null'
        space:
          $ref: '#/components/schemas/Space'
        spaceId:
          type: integer
          format: int32
        assignment:
          $ref: '#/components/schemas/WorkstationAssignment'
        workstationAssignmentId:
          type:
          - integer
          - 'null'
          format: int32
        attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkstationAttribute'
      additionalProperties: false
    Assembly:
      type: object
      properties:
        definedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        exportedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        codeBase:
          type:
          - string
          - 'null'
          readOnly: true
        entryPoint:
          $ref: '#/components/schemas/MethodInfo'
        fullName:
          type:
          - string
          - 'null'
          readOnly: true
        imageRuntimeVersion:
          type:
          - string
          - 'null'
          readOnly: true
        isDynamic:
          type: boolean
          readOnly: true
        location:
          type:
          - string
          - 'null'
          readOnly: true
        reflectionOnly:
          type: boolean
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        isFullyTrusted:
          type: boolean
          readOnly: true
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        escapedCodeBase:
          type:
          - string
          - 'null'
          readOnly: true
        manifestModule:
          $ref: '#/components/schemas/Module'
        modules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Module'
          readOnly: true
        globalAssemblyCache:
          type: boolean
          readOnly: true
          deprecated: true
        hostContext:
          type: integer
          format: int64
          readOnly: true
        securityRuleSet:
          $ref: '#/components/schemas/SecurityRuleSet'
      additionalProperties: false
    SecurityRuleSet:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    WorkstationAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        personId:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        requestedBy:
          $ref: '#/components/schemas/User'
        requestedById:
          type:
          - string
          - 'null'
        requestedByName:
          type:
          - string
          - 'null'
        approvedAt:
          type:
          - string
          - 'null'
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isConfirmed:
          type: boolean
        confirmedAt:
          type:
          - string
          - 'null'
          format: date-time
        nextNotificationDate:
          type:
          - string
          - 'null'
          format: date-time
        workstation:
          $ref: '#/components/schemas/Workstation'
      additionalProperties: false
    PropertyAttributes:
      enum:
      - 0
      - 512
      - 1024
      - 4096
      - 8192
      - 16384
      - 32768
      - 62464
      type: integer
      format: int32
    IntPtr:
      type: object
      additionalProperties: false
    TeamApiCode:
      required:
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        apiCode:
          type: string
          format: uuid
      additionalProperties: false
    FinancialOrganization:
      required:
      - chart
      - orgCode
      - team
      type: object
      properties:
        id:
          type: integer
          format: int32
        chart:
          maxLength: 1
          minLength: 0
          type: string
        orgCode:
          maxLength: 4
          minLength: 0
          type: string
        team:
          $ref: '#/components/schemas/Team'
        teamId:
          type: integer
          format: int32
        chartAndOrg:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    MemberTypes:
      enum:
      - 1
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 191
      type: integer
      format: int32
    KeyXSpace:
      required:
      - key
      - space
      type: object
      properties:
        id:
          type: integer
          format: int32
        key:
          $ref: '#/components/schemas/Key'
        keyId:
          type: integer
          format: int32
        space:
          $ref: '#/components/schemas/Space'
        spaceId:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    WorkstationAttribute:
      type: object
      properties:
        id:
          type: integer
          format: int32
        workstation:
          $ref: '#/components/schemas/Workstation'
        workstationId:
          type: integer
          format: int32
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    MethodInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          readOnly: true
        declaringType:
          $ref: '#/components/schemas/Type'
        reflectedType:
          $ref: '#/components/schemas/Type'
        module:
          $ref: '#/components/schemas/Module'
        customAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        isCollectible:
          type: boolean
          readOnly: true
        metadataToken:
          type: integer
          format: int32
          readOnly: true
        attributes:
          $ref: '#/components/schemas/MethodAttributes'
        methodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        callingConvention:
          $ref: '#/components/schemas/CallingConventions'
        isAbstract:
          type: boolean
          readOnly: true
        isConstructor:
          type: boolean
          readOnly: true
        isFinal:
          type: boolean
          readOnly: true
        isHideBySig:
          type: boolean
          readOnly: true
        isSpecialName:
          type: boolean
          readOnly: true
        isStatic:
          type: boolean
          readOnly: true
        isVirtual:
          type: boolean
          readOnly: true
        isAssembly:
          type: boolean
          readOnly: true
        isFamily:
          type: boolean
          readOnly: true
        isFamilyAndAssembly:
          type: boolean
          readOnly: true
        isFamilyOrAssembly:
          type: boolean
          readOnly: true
        isPrivate:
          type: boolean
          readOnly: true
        isPublic:
          type: boolean
          readOnly: true
        isConstructedGenericMethod:
          type: boolean
          readOnly: true
        isGenericMethod:
          type: boolean
          readOnly: true
        isGenericMethodDefinition:
          type: boolean
          readOnly: true
        containsGenericParameters:
          type: boolean
          readOnly: true
        methodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        isSecurityCritical:
          type: boolean
          readOnly: true
        isSecuritySafeCritical:
          type: boolean
          readOnly: true
        isSecurityTransparent:
          type: boolean
          readOnly: true
        memberType:
          $ref: '#/components/schemas/MemberTypes'
        returnParameter:
          $ref: '#/components/schemas/ParameterInfo'
        returnType:
          $ref: '#/components/schemas/Type'
        returnTypeCustomAttributes:
          $ref: '#/components/schemas/ICustomAttributeProvider'
      additionalProperties: false
    Space:
      type: object
      properties:
        id:
          type: integer
          format: int32
        deptKey:
          type:
          - string
          - 'null'
        bldgKey:
          type:
          - string
          - 'null'
        roomKey:
          type:
          - string
          - 'null'
        floorKey:
          type:
          - string
          - 'null'
        bldgName:
          type:
          - string
          - 'null'
        floorName:
          type:
          - string
          - 'null'
        roomNumber:
          type:
          - string
          - 'null'
        roomName:
          type:
          - string
          - 'null'
        roomCategoryName:
          type:
          - string
          - 'null'
        roomCategoryCode:
          type:
          - string
          - 'null'
        chartNum:
          type:
          - string
          - 'null'
        orgId:
          type:
          - string
          - 'null'
        deptName:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
        active:
          type: boolean
        sqFt:
          type:
          - integer
          - 'null'
          format: int32
        shortName:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-Auth-Token
      in: header
